* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: inline-block;
  width: 100%;
}
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar::before {
  content: "";
  position: absolute;
  background-color: black;
  height: 20%;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}

.logo img {
  max-width: 20%;
}

.btn {
  font-size: 15px;
  margin: 1.5em;
  padding: 3px 10px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15%;
  transition: 0.4s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: grey;
}
.playlist {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 2em;
  padding:0.5em;
}
.playlist_player {
  flex-grow: 3;
}
.playlist_videos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: scroll;
  max-height: 80vh;
}
.playlist_video_thumbnail{
    max-width: 45ch;
    cursor: pointer;
    margin:0 0.3em 1em 0.6em;
}
.playlist_player iframe{
    width:80%;
    aspect-ratio:4/2;
}