body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium";
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(Background_2.png);
  height: 74vh;
  background-position: center;
  background-size: cover;
}

.Sign-up_form {
  margin: 12% auto;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 20px 2px rgba(39, 38, 38, 0.5);
  background-color: white;
  text-align: center;
}
.Sign-up_form h1 {
  color: blue;
  margin-bottom: 30px;
}
.submit {
  background-color: rgb(60, 60, 228);
  color: white;
  height: 5vh;
  width: 250px;
}
.submit:hover {
  background-color: blue;
  color: white;
  transition: 0.6s ease;
}
.heading {
  text-align: left;
  margin: 20px;
  padding: 3px;
  height: 0;
  font-weight: bold;
}
.input-box {
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  width: 250px;
  padding: 3px;
  margin: 10px;
}
.input-box input
{
  color: white;
  width: 250px;
  border: none;
  outline: none;
  background: transparent;
}
.or {
  color: green;
  height: 1vh;
}
.sub {
  border-radius: 10px;
  margin: 3px;
  padding: 3px;
  height: 4vh;
}
.sub:hover {
  background-color: rgb(71, 71, 199);
  color: white;
  transition: 0.6s ease;
}

